@media screen and (min-width: 760px) {
    #landingBody {
        height: 89vh;
    }
}

.main-heading{
    color: #0F416F;
}

#registerBtn{
    background-color: #0F416F;
    color: white;
    width: 150px;
}

#registerBtn:hover{
    background-color: rgb(10, 250, 10);
}
#contained-model-title-vcenter{
    color: #0F416F;
}

#submitRegistration{
    background-color: #0F416F;
    color: white;
    width: 150px;
}

#submitRegistration:hover{
    background-color: rgb(17, 245, 17);
}