#registrationBtn{
    width: 150px;
    background-color: #0F416F;
    color: white;
}

#registrationBtn:hover{
    background-color: rgb(18, 228, 18);
}

#registrationForm .errors{
    color: rgb(189, 4, 4);
    font-size: 13px;
}