#imageInnovator {
  border-radius: 50%;
  height: 70px;
  width: 65px;
  margin-left: 5px;
  object-fit: center;
  cursor: pointer;
}

#firstName-helper-text,
#lastName-helper-text,
#phoneNumber-helper-text,
#email-helper-text,
#nationalId-helper-text,
#userExpectation-helper-text,
#stageEnterPricePyramid-helper-text,
#projectBasedService-helper-text {
  color: red;
}

#report-wrapper {
  height: 87vh;
}
.errors {
  color: red;
  font-size: 19px;
}
